<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Title : <%=element.title %></p>
    <p>Company : <%=element.company %></p>
    <p>Location : <%=element.location %></p>
    <p>Url : <%=element.url %></p>
    <p>description : <%=element.description %></p>

    <form action="/update/<%=element.id  %>?_method=PUT " method="POST">
      <input name="title" value="<%=element.title  %> " />
      <input company="company" value="<%=element.company  %> " />
      <input name="location" value="<%=element.location  %> " />
      <input name="url" value="<%=element.url  %> " />
      <input name="description" value="<%=element.description  %> " />

      <button type="submit">UPDATE</button>
    </form>

    <form action="/delete/<%=element.id  %>?_method=DELETE " method="POST">
      <button type="submit">DELETE</button>
    </form>

    <hr />
  </body>
</html>
