<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Result Page</h1>
    <div class="jobs">
      <% jobsdata.forEach(element => { %>

      <p>Title : <%=element.title %></p>
      <p>Company : <%=element.company %></p>
      <p>Location : <%=element.location %></p>
      <p>Url : <%=element.url %></p>

      <form action="/save" method="POST">
        <input name="title" value="<%=element.title  %> " hidden />
        <input company="company" value="<%=element.company  %> " hidden />
        <input name="location" value="<%=element.location  %> " hidden />
        <input name="url" value="<%=element.url  %> " hidden />
        <input name="description" value="<%=element.description  %> " hidden />

        <button type="submit">Add To My Jobs</button>
      </form>

      <hr />

      <% }) %>
    </div>
  </body>
</html>
